services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: griffin
      POSTGRES_PASSWORD: griffin
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  typesense:
    image: typesense/typesense:27.1
    environment:
      TYPESENSE_DATA_DIR: /data
      TYPESENSE_API_KEY: xyz
      TYPESENSE_ENABLE_CORS: "true"
    ports:
      - 8108:8108
    volumes:
      - typesense_data:/data

volumes:
  postgres_data:
  redis_data:
  typesense_data:
