<h1>Daily Financial Report</h1>
<p>Hi <%= @user.first_name %>,</p>
<p>Here is your daily financial summary.</p>

<%# TODO: Add report content and inline chart images %>
<%# Example: <img src="<%= url_for(@profit_and_loss_chart) %>"> %>
